@charset "utf-8";
#589624 {
	background-attachment: scroll;
	background-color: #0F0;
	background-image: url(../images/blackgrind.jpg);
	background-repeat: repeat;
	background-position: left bottom;
	height: 200px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
.hiiy7 #589624 {
	font-family: Georgia, Times New Roman, Times, serif;
}
